.container
  %h1 Net Nets Stock Screen Scraper
  %p Enter your email and you will be sent current tickers.
  - if flash
    %p= flash

  %form{ action: "/_email", method: "POST" }
    %button{ type: "submit" } Click Me!

  %h4 Updates
  %ul
    %li
      %p Scrapes web pages every night at 12AM CST.  Don't expect them to be ready before 4AM CST.
    %li
      %p All Chinese companies have been removed.

