.container
  %h1 Net Nets Stock Screen Scraper
  %p Enter your email and you will be sent current tickers.
  - if flash
    %p= flash

  %form{ action: "/_email", method: "POST" }
    %input{ type: "text", name: "email", placeholder: "Your Email"}
    %button{ type: "submit" } Click Me!
